<table class="admin_member_index has_border">
	<thead>
		<th>会員ID</th>
		<th>名前</th>
		<th>会員ステータス</th>
		<th></th>
	</thead>
	<tbody>
		<% members.each do |member| %>
			<tr>
				<td><%= member.id %></td>
				<td><%= member.name %></td>
				<td>
					<% if !member.is_deleted? %>
						<span class="text-active">有効</span>
					<% else %>
						<span class="text-invalid">退会済み</span>
					<% end %>
				</td>
				<td><%= link_to "詳細", admin_member_path(member.id), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>