<div class='container'>
	<div class='row justify-content-center pt-5'>
		<h2 class="col-auto section-ttl text-center">メンバーリスト</h2>
	</div>
	<div class='row justify-content-center'>
    <div class="col-auto px-5 mt-4">
			<table>
				<thead>
					<tr>
						<th class='text-center px-4'>メンバーID</th>
						<th class='text-center px-4'>メンバーネーム</th>
						<th class='text-center px-4'>ステータス</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					<% @members.each do |member| %>
						<tr>
							<td class='text-center tb_color' ><%= member.id %></td>
							<td class='text-center tb_color'><%= member.name %></td>
							<td class='text-center tb_color'>
								<% if !member.is_deleted? %>
									<span class="text-active">有効</span>
								<% else %>
									<span class="text-invalid">退会済み</span>
								<% end %>
							<td class='text-center text-nowrap'><%= link_to "詳細", admin_member_path(member.id), class: "btn btn-info my-2 mx-2" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @members, class: 'pb-5' %>
    </div>
  </div>
</div>