<h1>サイト紹介</h1>
<div>
  <p>現在読んでいる、読まれている本の情報を交換し合い、 本に関しての交流の場を提供するSNSサイトです。</p>
</div>
<div>
  <h4>サイトの成り立ち</h4>
  <p>国立青少年教育振興機構が実施した「子どもの生活力に関する実態調査」では、 読書をすることが多い子どもほど、コミュニケーションスキルや礼儀・マナースキルが高い傾向があるという調査結果もあります。 読書習慣を身につけることで、大人も同様にコミュニケーションスキルや礼儀・マナースキルが高くすることはできるのではないかと感じました。

本に関して特化した情報を交換する場所が個人的に少ない印象があり、 自分自身も本で人との交流をしたいと考えたときに理想の場所がなかなか見つからなかったのでこのテーマを選びました。

本の情報に触れることによって新しい本との出会いから人との交流を生み出し、自然に読書習慣を身に着けられればと思っています。 自分が読んだ本のアウトプットの場としても使ってもらいたいと思っています。</p>
</div>
<h4>サイトの利用例</h4>
<p>
・自分が読んだ本のアウトとプットをする時
・本でたくさんの人とコメントを通じて交流したい時
・自分の知らない新しい本に出会たい時
・読書習慣を身に着けたい時
</p>

<div>
  <p>ぜひ楽しんで使用していただければ幸いです</p>
</div>