<div class="new_sign about container">
  <div class='row justify-content-center pt-5'>
    <h1 class="col-md-auto section-ttl text-center">サイト紹介</h1>
  </div>
  <div class='row text-center'>
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
      <p>現在読んでいる、読まれている本の情報を交換し合い、<br> 本に関しての交流の場を提供するSNSサイトです。</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
      <h4>サイトの成り立ち</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
    <p>
      国立青少年教育振興機構が実施した「子どもの生活力に関する実態調査」では、 読書をすることが多い子どもほど、<br>
      コミュニケーションスキルや礼儀・マナースキルが高い傾向があるという調査結果もあります。 読書習慣を身につけることで、<br>
      大人も同様にコミュニケーションスキルや礼儀・マナースキルが高くすることはできるのではないかと感じました。<br>
      本の情報に触れることによって新しい本との出会いから人との交流を生み出し、自然に読書習慣を身に着けられればと思っています。<br>
      自分が読んだ本のアウトプットの場としても使ってもらいたいと思っています。
    </p>
  </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
      <h4>サイトの利用例</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
      <p>
        自分が読んだ本のアウトとプットをする時<br>
        本でたくさんの人とコメントを通じて交流したい時<br>
        自分の知らない新しい本に出会たい時<br>
        読書習慣を身に着けたい時<br>
      </p>
    </div>
  </div>
  <div class='row text-center pb-5'>
    <div class="col-md-auto px-5 px-sm-0 mx-auto">
      <p>ぜひ楽しんで使用していただければ幸いです</p>
    </div>
  </div>
</div>




