<div>
  <h1>利用規約</h1>
  <p>この度サイトの利用ありがとうございます</p>
</div>
<div>
  <h3>注意点</h3>
  <h5>誹謗中傷</h5>
  <h5>宗教活動</h5>
  <h5></h5>
  <h5></h5>
  <h5></h5>
  <h5></h5>
  <h5></h5>
  <p>これらの条件を守られていない投稿、コメント、は削除・メンバーは退会してもらいます。</p>
</div>