<div class="new_sign top container">
  <div class='row justify-content-center pt-5'>
    <h2 class="col-md-auto section-ttl text-center">Popularize a Books</h2>
  </div>
  <div class='row justify-content-center'>
    <div class="col-md-6 px-5 px-sm-0 mx-auto mt-4">
      <div class='row justify-content-center'>
        <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-info col-md-6 px-5 px-sm-0 mx-auto my-3", method: :post %>
      </div>
      <div class='row justify-content-center'>
        <%= link_to 'ログイン',new_member_session_path, class: "btn btn-primary col-md-6 px-5 px-sm-0 mx-auto my-3" %>
      </div>
      <div class='row justify-content-center'>
        <%= link_to '新規登録',new_member_registration_path, class: "btn btn-success col-md-6 px-5 px-sm-0 mx-auto my-3" %>
      </div>
    </div>
  </div>
</div>