<div class='container pb-5'>
	<div class='row justify-content-center pt-5'>
		<h3 class="col-md-auto section-ttl text-center">ジャンル一覧</h3>
	</div>
	<div class='row'>
		<div class="col-md-auto px-5 mx-auto mt-4">
			<table>
				<thead>
					<tr>
						<th class='text-center'>ジャンル名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @genres.each do |genre| %>
						<tr>
							<td class="tb_color"><%= genre.name %></td>
							<td class='text-center pl-3'><%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger my-1" %></td>
						</tr>
					<% end %>
				</table>
			<%= paginate @genres %>
		</div>
	</div>
</div>
