<table>
  <tbody>
      <% book.post_comments.each do |post_comments| %>
      <tr>
        <td><%= member.nick_name %></td>
        <td><%= post_comments.comment %></td>
        <td>
          <% if post_comments.member == current_member %>
            <%= link_to "Destroy", book_post_comment_path(book, post_comments), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>