/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 main {
  background-color: #f5deb3;
 }

 header {
  background-color: #d2b48c;
 }

 .header, .footer {
  text-decoration: none;
  color: #401800;
 }

 footer {
  background-color: #d2b48c;
 }

 .new_sign {
  height: 880px;
 }

 .admin_edit {
  height: 610px;
 }

 .top {
  background-image: image-url("log.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
 }

 .about {
  background-image: image-url("about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  color: #8CFFD1;
 }

 .notice {
  background-color: #f5deb3;
 }

 h1, h2,
 h3, h4,
 h5, h6 {
  color: #DB2251;
 }

 th {
  text-decoration: none;
  color: #DE5D71;
 }

 .sign_in, .tb_color, .book_body, .comment-body, .member_introduction {
  text-decoration: none;
  color: #913A00!important;
 }

 .edit_color {
  text-decoration: none;
  color: #4F3602;
 }

 .book_body, .member_introduction {
  font-size: 1.1rem;
 }

.link {
    text-decoration: none!important;
    color: #01703C!important;
}

 .page-item.active .page-link{
  background-color: #d2b48c!important;
  border-color: #f0f0f0!important;
 }
 .page-link,
 .page-item.active .page-link {
  text-decoration: none!important;
  color: #000!important;
 }
