<footer>
  <div class='container pt-2'>
    <div class='row'>
      <div class="col-auto mt-2 mx-auto">
        <h5 class="footer">Popularize a Books</h5>
      </div>
    </div>
    <div class='row py-1'>
      <div class="col-auto md-2 mx-auto">
        <p class="footer">利用規約</p>
      </div>
    </div>
  </div>
</footer>

